/** CATS CAREER PORTAL DEFAULT STYLES **/

/*** RESET, GENERAL ***/
html, body {
	height: 100%;
	margin: 0 auto;			/* resets the margin of all contents; sticks to edge of browser */
	text-align: left;
}

body {
	color: #000;
	font: normal 14px "Segoe UI", Tahoma, Arial, Verdana, Helvetica, sans-serif;
        overflow-y: scroll;
}

a, a:link, a:active, a:hover, a:visited { padding: 4px; }
a#top { padding: 0; }

a:link, a:active {
	color: #335bc1;
	text-decoration: underline;
}
a:hover, a:visited { color: #335bc1; }
a:hover { text-decoration: none; }

img { border: 0; }		/* eliminates border on all images */

.clear { clear: both; }

img#ccpBackImage { vertical-align: middle; margin-bottom: 10px;
                   display:none; }
a#ccpBackLink { position: relative; top: 72px;
                text-decoration:none;
                color:#23adb5;
                padding-left:0px;
                font-size:13px !important;
                 }
a#ccpBackLink:hover
{
    color:#fdbc34;
    font-size:13px !important;
}
/*** TEXT, HEADER ***/
h1, h2, h3, h4, h5, h6 { margin: 0; }
h1 { font-size: 18px; }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4 { font-size: 12px; }
p { padding: 0 0 10px 0; }
p:first-child { padding-top: 0; }
#headerNav { font-size: 13px; }
.txtc { text-align: center; }
.txtj { text-align: justify; }
.txtl { text-align: left; }
.txtr { text-align: right; }

/*** FORM ELEMENTS ***/
form { clear: both;
       margin-top: -8px;}
/*input.formInput:focus, textarea.formInput:focus { border: 1px solid #e0e0e0; }*/
input.formInput, select.formInput, textarea.formInput { padding: 1px; }
input.formInput, select.formInput { }
input.formInput,textarea.formInput,select.formInput {
    border: 1px solid #e0e0e0;
   
	font-family:"segoe UI",arial,sans-serif,tahoma,verdana;
	color:#474a48;
	font-size:13px;
	line-height:18px;
    margin: 1px;
}
input.formInputDatePicker {
    background: #fff url(http://www.catsone.com/images/datePicker.jpg) no-repeat;
    padding-left: 12px;
    background-position: 2px 0;
    font-size: 12px;
}
textarea.formInput { height: 35px; }
input.small,textarea.small,select.small { width: 100px; }
input.medium,textarea.medium,select.medium { width: 175px; }
input.large,textarea.large,select.large { width: 300px; }
input.tall, textarea.tall,select.tall { height: 140px; }

div.checkBoxAnswer { }
div.checkBoxAnswer input { position: relative; top: 2px; }

/*** TABLES ***/
table, tbody, th, tr, td {
	border-collapse: collapse;
	font-size: 13px;
	padding: 0;
	vertical-align: top;
}

/*** STRUCTURE ***/
#outer {
	background: #fff;
	height: 1000px;
	/*height: auto !important;*/
	min-height: 100%;
	margin: 0 auto; 	/* 0pixels from the top and bottom, automatically centered */
	padding: 0 15px;
	position: relative;
	width: 980px;
	/*border-top:#262b27 9px solid;*/
         margin:0px auto;
}

.topDiv
{
      margin:0px auto;
      border-top:#262b27 9px solid;
      width:1050px;
}
/* STEPS, PAGES */
#headerNav, #content, #stepListings, #stepJobDetails, #stepSendToFriend, #stepApplication, #stepConfirmation, #stepRegister, #stepLogin, #stepProfile, #stepUpdate, #stepForgot, #stepEmail, #applicationOuter { padding: 0 0 20px 0; width: 100%; }

#stepListings, #stepJobDetails, #stepSendToFriend, #stepApplication, #stepConfirmation, #stepRegister, #stepLogin, #stepProfile, #stepUpdate, #stepForgot, #stepEmail { margin: 0 0 20px 0; }

#content {
	clear: both; /* clears floating items above content area */
	margin: 0;
}
#stepSendToFriend
{
    float:left;
    width:750px;
}
#poweredBy {
	clear: both;
	color: #666;
	font-size: 11px;
	height: auto;
	text-align: center;
        display: none;
}

#returnTop {
	clear: both;
	float: right;
	font-size: 11px;
	margin: 10px 0;
}

/*** CONTENT ***/
#headerNav{
	float: left;
	height: auto;
	margin: 0;
	padding: 0;
        width: 980px;
}

.logo {
	float: left;
    width: 350px;

  
}
.logo a
{
    padding-left:0px !important;
}
span.logoAltText { font-size: 24px; font-weight: bold; }

/*** NAVIGATION ***/
.listLinks {
	margin: 0;
	padding: 0;
}

.listLinks li {
	display: inline;
	float: left;
	margin: 0 25px 0 0;
	width: auto;
}

.listLinks li a { color: #335bc1; }

.listLinks li.clear { margin: 0 25px 10px 0; }

.button {
	float: left;
	
	background-color: #23adb5;
	color:#ffffff;
	margin: 8px 14px 8px 0;
	width:100px;
	border:0px;
	height:22px;
}
.button:hover
{
    background-color:#fdbc34;
}
.button:first-child {
	float: left;
	line-height: normal;
}






/* MESSAGES */
.message {
	clear: both;
	height: auto;		/* auto fits to height of content */
	min-height: 18px;
	margin: 0 auto;
	padding: 5px;
	width: 99%;
	display:none;
}

.messagePlain {
	background: #f9f9f9;
	border: 1px solid #dadada;
	border-left: 0;
	border-right: 0;
	margin: 3px 0;
}

.messageNormal {
	background: #ecf3ff;
	border: 1px solid #98bbfb;
	border-left: 0;
	border-right: 0;
}

.messageWarning {
	background: #fdf8e9;
	border: 1px solid #ffd966;
	border-left: 0;
	border-right: 0;
}

.messageSuccess {
	background: #ecfce4;
	border: 1px solid #9fd982;
	border-left: 0;
	border-right: 0;
}

.messageError {
	background: #f6e9e9;
	border: 1px solid #660c0c;
	border-left: 0;
	border-right: 0;
}

div.errorNotifier {
	background-color: #f6e9e9;
	border: 1px solid #660c0c;
	border-left: 0;
	border-right: 0;
	clear: both;
	color: #270101;
	font-size: 12px;
	height: auto;
	margin: 10px 0;
	max-height: 500px;
	padding: 10px;
}
div.errorNotifier ul {
	margin: 0;
	border: 0;
	padding: 0;
}
div.errorNotifier ul li { margin-left: 15px; }
div.errorNotifier br.break { clear: both; }
div.errorNotifier div.title {
	font-weight: bold;
	font-size: 13px;
	margin-bottom: 5px;
}

div.messageNotifier {
	background-color: #eef1fe;
	border: 1px solid #1738b5;
	border-left: 0;
	border-right: 0;
	color: #05204d;
	font-size: 12px;
	margin: 5px 0 0 0;
	padding: 10px;
}


/* JOB LISTINGS TABLE */
div.noData {
    width: 100%;
    border-top: 1px solid #ccddff;
    margin: 15px 0 0 0;
}

div.noData img {
    float: left;
    width: 256px;
    height: 256px;
}

div.noData div.right {
    float: left;
    width: 320px;
    margin: 35px 0 0 0;
}

#jobListings {
	clear: both;
	margin: 5px 0;
	width: 96%;
}

#jobListings th, #jobListings td {
	margin: 0;
	padding: 0;
}

#jobListings th { font-weight: normal !important; }

#jobListings th.cellHeader, #jobListings th.cellHeader a {
	/*background: #335bc1;*/
	color: #FDBC34;
	text-align:left;
	text-transform:uppercase;
	padding-left:0px !important;
}
#jobListings th.cellHeader a
{
    text-decoration:none;
}
#jobListings th.cellHeader a:hover
{
    text-decoration:underline;
}
#jobListings th.sortingHeader span.sortingColumn { display: none; }

#jobListings th, #jobListings td { padding:6px 8px 4px 8px; }

#jobListings .grayCell {
	/*background: #ccc;
	color: #666;
	max-width: 75px;
	min-width: 75px;*/
	width: 70px;
	color: #FDBC34;
	text-align:left;
	text-transform:uppercase;
	padding-left:0px !important;
}
#jobListings .grayCell a { color: #FDBC34; padding: 0;
                           text-decoration:none;}
#jobListings .grayCell a:hover
{
    text-decoration:underline;
}
#jobListings tr.rowOdd td { background: #fff; padding-left:0px !important;
                            border: 1px solid #e0e0e0;
                            
                            border-left: 0;
	border-right: 0;
	height:23px;
                            color:#474a48; }

#jobListings tr.rowEven td {
	/*background: #f5f8ff;*/
	
	border-left: 0;
	border-right: 0;
	height:23px;
	padding-left:0px !important;
	
	color:#474a48;
}
#jobListings tr.rowEven td.topRowNoBorder { border-bottom: 0; }
#jobListings tr.rowEven td.bottomRowNoBorder { border-top: 0; }

#jobListings .listJobTitle {
	font-size: 15px;
	letter-spacing: 1px;
}
#jobListings .excerpt {
	color: #666;
	padding: 0 0 4px 8px;
}

#jobListings .exceprt span { font-size: 12px; }

#searchFilter { margin: 10px 0; }
div.topSearchKeywords { float: left; margin: 24px 0 7px 9px; width: 240px; display:inline;}
div.topSearchKeywords span { color:#fdbc34; }
div.topSearchKeywords input#keywords { width: 220px;  color:#474a48; padding-left:5px; }
div.topSearchLocation { float: left; width: 170px; }
div.topSearchLocation span { font-weight: bold; }
div.topSearchLocation input#location { width: 150px; }
div.topSearchLocationExtended { float: left; width: 148px; padding-top: 14px; }
div.topSearchAction { float: left; width: 222px; padding-top: 14px; 
                      margin-top:8px;
                     }
div.topSearchAction input#searchButton { margin: 5px 0 0 0;  width:95px; border:0px; }
div.topSearchAction input
{
    background-color:#23adb5; color:#ffffff;
    height: 22px;
}
div.topSearchAction input:hover
{
    background-color:#fdbc34; color:#ffffff;
}
div.categories {
    margin: 15px 0 0 0;
    font-size: 12px;
    color: #666;
}

div.categories div.section {
    float: left;
    width: 243px;
    margin: 0 5px 0 5px;
}

div.categories div.section div.title {
    font-size: 12px;
    color: #333;
    padding-left: 3px;
    font-weight: bold;
}

div.categories div.section div.item {
    border: 1px solid #f0f0f0;
    margin: 2px 0;
    padding-left: 2px;
    white-space: nowrap;
    overflow: hidden;
}

div.categories div.section div.item #keywords {
    width: 97.5%;
}

div.categories div.section div.item a {
    padding: 2px 0;
}

div.categories input#searchButton {
    margin: 10px 0 0 8px;
    
}

div.categories div.section div.item input.categoryFilter {
    margin: 0;
    padding: 0;
    position: relative;
    top: 2px;
}

img.previewJob, .middle { vertical-align: middle; }
#previewHint {
	font-weight: bold;
	margin: 5px 0;
	display:none !important;
}

div#previewJobContainer {
	background-color: #ffffff;
	border: 1px solid #c0c0c0;
	font-size: 14px;
	height: 200px;
	margin-bottom: 20px;
	max-height: 200px;
	max-width: 500px;
	min-height: 200px;
	min-width: 500px;
	overflow: auto;
	padding: 15px;
	position: absolute;
	width: 500px;
	z-index: 99998;
}
img#previewJobContainerPointer {
	height: 18px;
	left: 0;
	position: absolute;
	top: 0;
	width: 32px;
	z-index: 99999;
}

.recentJobs {
	font-size: 12px;
	height: 20px;
	max-height: 20px;
	max-width: 100%;
	min-height: 20px;
	min-width: 100%;
	overflow: none;
	white-space: nowrap;
	width: 100%;
	
}
.recentJobs #recentHeader, .recentJobs a, .recentJobs span { float: left; }
.recentJobs #recentHeader {
	color: #474a48;
	margin: 4px 10px 0 0px;
	font-size:13px;
	font-weight:normal;
}
.recentJobs a, .recentJobs span { margin: 0 5px 0 0; }
.recentJobs span { color: #c0c0c0; padding-top:5px; }

.recentJobs a
{
    color:#23adb5;
    text-decoration:none;
    font-size:13px;
}
.recentJobs a:hover
{
    color:#fdbc34;
}
/* PAGINATION */
.pagination {
	margin: 0 auto;
	text-align: center;
	width: auto;
}

.pagination ul.pager {
	display: inline-block;		/* centers entire list; should not be removed */
	font-size: 12px;
	list-style: none;
	text-align: center;
	width: auto;
}

.pagination ul.pager li {
	/*border: 1px solid #98bbfb;*/	/* same color as messageNormal border */
	display: block;				/* turns list into clickable blocks */
	float: left;				/* makes page numbers sit side-by-side on page  */
	margin: 0 3px;
	padding:2px 5px 4px 5px;
	width: auto;
}

.pagination ul.pager li.pagerDisable {
	/*border: 1px solid #ccc;*/
	color: #666;
}

.pagination ul.pager li.elipse {
	border: 0;
	margin: 0 5px;
}

.pagination ul.pager li a {
	text-decoration:  none;
	color:#23adb5 !important;
}
.pagination ul.pager li:hover
{
   background-color: #fdbc34;
}
.pagination ul.pager li a:hover
{
    color:#ffffff !important;
}
.pagination ul.pager li.active {
	/* links hover effect, current page indicator */
	background-color: #fdbc34;	/* same color as messageNormal background */
	display: block;
	text-decoration:  none;
	
}
.pagination ul.pager li.active a
{
    color:#ffffff !important;
}

.pagination ul.pager li.title { border: 0; color: #666; font-weight: bold; }

.pagination ul.pager li.elipse:hover, .pagination ul.pager li.pagerDisable {
	/* no background effect when pager is hovered */
	background: none;
}

.applicationPagination { text-align: right; }

/* JOB DETAILS */
#jobDetails {
	clear: left;
	width: 100%;
	height:89px;
	/*border-bottom:1px solid #e0e0e0;*/
}
#jobDetails h1#jobTitle
{
    margin-top:2px!important;
    color:#ffffff;
    background-color:#fdbc34;
    height:46px;
    width:600px;
    font-weight:lighter;
    font-size:31px !important;
    padding-left:10px;
    float:left;
    
}
#jobDetails p { margin: 4px 0; }

.jobNumber {
	color: #999;
	font-size: 13px;
	font-weight: normal;
	margin: 0 5px;
}

.jobSubData {
	float: left;
	font-size: 13px;
	margin:50px 0px 1px 0px;
	width: 25%;
	display:block;
	color:#262b27;
}
.dateDiv
{
    color:#fdbc34;
    text-transform:uppercase;
    display:inline;
    font-size:13px;
    line-height:19px;
    padding-right:16px;
}
.detailsJobDescription {
	/*border-left: 5px solid #f0f0f0;*/
	/*clear: both;*/
	/*padding: 0 0 0 10px;*/
	float:left;
	width:750px;
	margin-top:0px;
	color:#262b27;
}

.actionButtons {
	clear: both;
	margin: 10px 0;
}

#recruiterDetails {
	clear: both;
	margin: 0 0 0 40px;
}

#recruiterSignature {
	clear: both;
	margin: 10px 0;

}

#showDescription { margin: 0px 0;
                   margin-top:25px !important;
                   color:#23adb5;
                   text-decoration:none;
                   padding-left:0px;
                   display:block;
                   }
A#showDescription:hover
{
    color:#fdbc34;
}
#showDescriptionText {
	border: 1px solid #f3f3f3;
	border-left: 0;
	border-right: 0;
	color: #262b27;
	height: 100px;
	margin: 4px 0;
	max-height: 100px;
	min-height: 100px;
	overflow: auto;
	padding: 4px 0;
	float:left;
}
#showDescriptionText strong:first-child
{
    color:#474a48;
    font-weight:bold;
    font-size:13px;
    text-transform:none;
}

#showDescriptionText strong
{
    color:#fdbc34;
    text-transform:uppercase;
    font-size:13px;
    font-weight:normal;
}
#showDescriptionText table tbody tr td strong
{
    color:#fdbc34 !important;
    text-transform:uppercase !important;
    font-size:13px;
    font-weight:normal !important;
}
/* APPLICATION FORM */
form#jobApplication { margin: 0 0 20px 0; }
div.headerContainer { color: #666; margin: 0 0 10px 0; }
#applicationOuter { margin: 20px 0; }

div#application {
	border: 1px solid #c0c0c0;
	border-right: 0;
	border-left: 0;
	margin: 0 0 10px 0;
	padding: 5px 0;
}
div#application div.row { width: 760px; }
div#application div.row div.full {
	float: left;
	padding: 5px 0 0 5px;
	width: 100%;
}
div#application div.fieldComment { color: #666; font-size: 12px; }
div#application .fieldSeparator { margin: 15px 0 0 0; padding: 5px 5px 0 5px; }
    div#application .fieldSeparator h3 { margin: 0; }
    div#application hr { border-color: #c0c0c0; }
div#application div.row div.field {
	/* structure and size of form text container */
	float: left;
	padding: 5px 0 0 5px;
	width: 100px;
	color:#fdbc34;
	text-transform:uppercase;
	font-size:13px;
	line-height:19px;
}
div#application div.row div.required {  }
div#application div.row div.required span { color: #fdbc34; }
div#application div.row div.icon {
	float: left;
	padding: 5px 3px 0 0;
	text-align: right;
	width: 20px;
}
div#application div.row div.input {
	/* structure and size of input field container */
	float: left;
	padding: 2px 0;
	width: 560px;
	font-size :13px;
	color:#474a48 !important;
	font-family:"segoe UI",arial,sans-serif,tahoma,verdana;
}
div#application br.break { clear: both; }

div#sig { font-size: 12px; margin: 15px 0; }

/*** MISC ***/
span.jobID { display: none; }
a.jobTitle { font-weight: normal !important; }
a.jobTitleHot { font-weight: bold; color: red; }
.icons16 {
	height: 16px;
	width: 16px;
}
.textMedLight { color: #666; }
.textLight { color: #666; font-size: 12px; }
.textLighter { color: #c0c0c0; }
.textSmall { font-size: 11px; }

.emphasizeYellow {
	 background-color: #ffff99;
	 font-weight: bold;
	 padding: 2px;
}

.instructive {
	font-weight: bold;
	margin: 5px;
}

.nav
{
    margin-top: 19px;
	float:right;
}
.nav li
{
    display: inline;
    padding: 0 4px 0.5px 4px;
	text-transform:uppercase;
	text-align:center;
    font-size: 18px;
    line-height:18px;
	font-weight:normal;
    margin-left: 25px;
    margin-top: 10px;

}

.nav li a
{
    
    color: #262b27;
    list-style-type:none;
    text-decoration: none;
    font-family: "Segoe UI", Arial, sans-serif,tahoma,verdana;
   padding-right:0px;
    padding-left:0px;
}

.nav li a:hover
{
    color:#262b27;
	cursor:pointer;
}

.nav li:hover
{
    border-bottom: #fdbc34 4px solid;
	cursor:pointer;
}
.splashChild
{
    clear: both;
    padding-top: 0px;
    padding-bottom: 8px;
    margin-top: 0px;
}

.footer
{
    border-top:#e0e0e0 1px solid;    width: 880px;
    clear: both;
    margin: 0 auto;
width:980px;    
    height: 80px;
    font-size:12px;
}

.bottomDiv
{
    margin:0px auto;
    width:1050px;
    border-bottom:#262b27 9px solid;
}
.left
{
    float: left;
    padding: 10px 7px 0 0;
}
.center
{
    float: left;
    padding-left: 250px;
	font-size:10px;
	color:#262b27;
    margin-top: 39px;
	padding-top:10px;
	line-height:18px;
}
.right
{
    float: right;
    padding: 10px 2px 0 2px;
    margin: 0px;
}

.right img
{
    padding-top: 1px;
}
.floatLeft
{
   float: left;
   padding-left:0;
}

/*edited for listings page*/

#content
{
    width:100%;
}

#stepListings .rss a
{
    padding-right:0px !important;
}

.rightContentDiv
{
    float:right;
    width:210px;
    border:3px solid #fdbc34;    
    padding:0px 0px 15px 11px;
height:500px;
}

.rightContentDivJob
{
    /*float:right;
    width:210px;*/
    border:3px solid #fdbc34;    
    padding:0px 11px 15px 11px;
 height:145px;
}

#poweredBy a img
{
display:none !important;
clear:both !important;
}

.title
{
    margin-top:15px;
    font-size:18px;
    text-transform:uppercase;
    color:#fdbc34;
}
.filterTitle
{
     margin-top:15px;
    font-size:13px;
    text-transform:uppercase;
    color:#fdbc34;
}
.filterContent
{
    color:#23adb5;
    height:100px;
}
.searchInputDiv
{
    font-size:14px;
    background-color:#ffffff;
    font-weight:lighter;
    margin-right:0px;
    margin-top:5px;
}

.txtBoxBorder
{
    height: 23px;
    border: 1px solid #686868;
    margin-left: 2px;
    font-family: "segoe UI" , Tahoma, Verdana, Sans-serif;
    font-size: 13px;
    width: 180px;
}
.titleMessage
{
 color: #474a48;
    font-family: "segoe UI" , Tahoma, Verdana, Sans-serif;
    font-size: 13px;
    font-weight: normal !important;
}

.searchInputDiv input
{
margin-left:0px;
padding-left:10px;
width:135px !important;

}

.head
{
margin-top:19px;
}

.headDiv
{
float:left;
width:509px;
}

.headText
{
clear:both;
background-color:#fdbc34;
width:397px;
margin-left:0px;
height:46px;
float:left;
}

.textData
{
font-size:31px;
color:#ffffff;
font-weight:lighter;
padding:0px 0px 0px 10px;
}

.headImage img
{
margin-left:9px;
}


#search
{
    cursor:pointer;
}
/*header and footer changes*/
#nav {
	padding-top:30px;
	border-bottom:#e0e0e0 1px solid;
	height:80px;
}

.leftFooter
{
    float:left;
    margin-left:5px;
    margin-right:0px;
    margin-top:25px;
}

.leftFooter #twitter
{
    margin-left:5px;
}
.rightFooter
{
     margin-top:40px;
     float:right;
     margin-right:9px;
}

.leftFooter a
{
    margin-left:4px;
    padding-left:0px;
    padding-right:0px;
}

#findWork
{
border-bottom: #fdbc34 4px solid;
}

a.jobTitle
{
    color:#23adb5 !important;
text-decoration:none;
}

/*previewJobContainer*/
#previewJobContainer
{
    color:#262b27;
    font-size:13px !important;
}
#previewJobContainer strong
{
    font-weight:normal;
    text-transform:uppercase;
    color:#fdbc34;
    font-size:14px;
}

#previewJobContainer a
{
    color:#23adb5 !important;
    text-decoration:none;
}

#previewJobContainer a:hover
{
    text-decoration:none;
}

#previewJobContainer table td
{
   padding-bottom:5px !important;
}

/*job description*/
.detailsJobDescription .c1
{
    text-transform:uppercase;
    color:#fdbc34;
    line-height:19px;
    width:101px !important;
    
}
.detailsJobDescription .c1 strong
{
font-weight:normal !important;
}

.detailsJobDescription table p strong
{
    color:#fdbc34;
    text-transform:uppercase;
    font-size:18px;
    font-weight:normal !important;
    margin-bottom:10px !important;
}
.detailsJobDescription table tbody tr td ul
{
    margin-top:0px;
    margin-bottom:0px;
    list-style-image: url("http://www.maqconsulting.com/Static/Images/bullet1.png");
    
   
}

.detailsJobDescription table tbody tr td p
{
    padding-bottom:0px;
}
.detailsJobDescription table tbody tr td p:first-child strong:first-child
{
    padding-bottom:5px;
}
.JobContentDiv
{
    font-size:13px;
    color:#474a48;
}

.JobContentDiv a
{
    color:#23adb5;
    text-decoration:none;
    padding-left:0px;
}

.JobContentDiv a:hover
{
    color:#fdbc34;
}

#jobHeadImage
{
    float:left;
    display:inline;
    padding-top:2px !important;
}

#jobHeadImage img
{
    display:block;
   
}

.buttonDiv
{
    height:25px;
    background-color:#23adb5;
    color:#ffffff;
    width:210px;
    text-align:center;
    padding-top:4px;
}

.rightSideDiv
{
    float:right;
    width:210px;
    padding:0px 0px 15px 11px;
}

#sendFriend
{
    margin-top:7px;
    margin-bottom:5px;
}

#sendFriend a
{
    color:#ffffff;
    text-decoration:none;
   
}

div.buttonDiv:hover
{
    background-color:#fdbc34;
}

.FB
{
    /*display:inline;
    margin-left:600px !important;
    margin-top:50px !important;*/
    float:right;
    margin-right:24px;
}
.FB a
{
    display:block;
    margin-top:6px;
    
}

#stepJobDetails
{
    float:left;
    width:750px;
}